.form-group .col-md-6 {
    width: 250px;
  }
  #ShipAddress{
    resize: vertical;
  }
  
  .e-grid .e-edit-dialog {
    min-height: 0;
  }
  
  .e-grid .e-dialog .e-footer-content {
    display: none;
  }
    
    .e-tab .e-content .e-control {
    overflow-x: hidden;
    overflow-y: hidden;
    }

    .e-grid .e-tab .e-toolbar {
      border: 0;
    }