#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  font-family: 'Helvetica Neue','calibiri';
  font-size: 14px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.custom.e-headercell {
  background-color: #f48fb1 !important;
  color: white;
}

.custom.e-rowcell {
  background-color: #fce4ec;
  color: white;
}

