#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  font-family: 'Helvetica Neue','calibiri';
  font-size: 14px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.e-treegrid .e-rowcell .customcss{
  background-color: grey;
  font-family: 'ALGERIAN';
	color: brown;
	font-size: 20px;
}

.e-treegrid .e-headercell .customcss{
  background-color: #2382c3;
  color: white;
	font-family: 'ALGERIAN';
	font-size: 20px;
}